/* ------------------------------- */
/* Variables */
$buttonfocusdefault: #003366;
$buttonfocusdefaulthover: #0052a3;
$buttonfocusmain: #119600;
$buttonfocusmainhover: #15b300;
$buttonfocussecondary: #dadada;
$buttonfocussecondaryhover: #a71515;
$linkcolor: #004c9c;
$maincolor: #1a1a1a;
$buttoncolor: #ffffff;

/* ------------------------------- */
/* Reset Properties */

@import 'reset.css';

* {
  box-sizing: border-box;
}

/* ------------------------------- */
/* Grid Properties */

.container {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

.row {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
  align-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;
}

.col {
  width: auto;
}

[class^="col-"] {
  width: 100%;
}

.col-1 {width: 8.33333%;}
.col-2 {width: 16.66667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33333%;}
.col-5 {width: 41.66667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33333%;}
.col-8 {width: 66.66667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33333%;}
.col-11 {width: 91.66667%;}
.col-12 {width: 100%;}

@media screen and (min-width:558px){
  .col-sm-1 {width: 8.33333%;}
  .col-sm-2 {width: 16.66667%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33333%;}
  .col-sm-5 {width: 41.66667%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33333%;}
  .col-sm-8 {width: 66.66667%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33333%;}
  .col-sm-11 {width: 91.66667%;}
  .col-sm-12 {width: 100%;}
}

@media screen and (min-width:768px){
  .col-md-1 {width: 8.33333%;}
  .col-md-2 {width: 16.66667%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33333%;}
  .col-md-5 {width: 41.66667%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33333%;}
  .col-md-8 {width: 66.66667%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33333%;}
  .col-md-11 {width: 91.66667%;}
  .col-md-12 {width: 100%;}
}

@media screen and (min-width:992px){
  .col-lg-1 {width: 8.33333%;}
  .col-lg-2 {width: 16.66667%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33333%;}
  .col-lg-5 {width: 41.66667%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33333%;}
  .col-lg-8 {width: 66.66667%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33333%;}
  .col-lg-11 {width: 91.66667%;}
  .col-lg-12 {width: 100%;}
}

@media screen and (min-width:1200px){
  .col-xl-1 {width: 8.33333%;}
  .col-xl-2 {width: 16.66667%;}
  .col-xl-3 {width: 25%;}
  .col-xl-4 {width: 33.33333%;}
  .col-xl-5 {width: 41.66667%;}
  .col-xl-6 {width: 50%;}
  .col-xl-7 {width: 58.33333%;}
  .col-xl-8 {width: 66.66667%;}
  .col-xl-9 {width: 75%;}
  .col-xl-10 {width: 83.33333%;}
  .col-xl-11 {width: 91.66667%;}
  .col-xl-12 {width: 100%;}
}




/* ------------------------------- */
/* General Properties */

html {
  font-size: 10px;
  color: $maincolor;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

html {
  font-size: 10px;
  color: $maincolor;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

img {
  width: 100%;
  height: auto;
}

/* ------------------------------- */
/* Typography */

a {
  color: $maincolor;
  font-size: inherit;
  text-decoration: none;
  &:hover {
    color: $linkcolor;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.8;
  margin: .5rem 0;
}

h1    { font-size: 5rem; }
h2    { font-size: 4.2rem; }
h3    { font-size: 3.6rem; }
h4    { font-size: 3rem; }
h5    { font-size: 2.4rem; }
h6    { font-size: 1.8rem; }

p     { margin: 0.75rem 0; }

/* ------------------------------- */
/* Navbar */

nav {
  ul {
    list-style: none;
    li {
      margin: 0.5rem 2rem;
      &::after {
        content: "|";
        position: relative;
      }
      &:nth-last-child(1)::after {
        content: "";
      }
    }
  }
}

/* ------------------------------- */
/* Buttons */
button {
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  &.btn {
    background-color: $buttonfocusdefault;
    border: 2px solid $buttonfocusdefaulthover;
    color: $buttoncolor;
    &:hover {
      background-color: $buttonfocusdefaulthover;
      cursor: pointer;
    }
  }
  &.btn-main {
    background-color: $buttonfocusmain;
    border: 2px solid $buttonfocusmainhover;
    color: $buttoncolor;
    &:hover {
      background-color: $buttonfocusmainhover;
      cursor: pointer;
    }
  }
  &.btn-secondary {
    background-color: $buttonfocussecondary;
    border: 2px solid $buttonfocussecondaryhover;
    color: $maincolor;
    &:hover {
      background-color: $buttonfocussecondaryhover;
      color: $buttoncolor;
      cursor: pointer;
    }
  }
}